<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    
        <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

      <!-- below bootstrap added by prina -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
   
    <!-- Our CSS  -->
    <link rel="stylesheet" href="./static/css/style.css" />

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/weather_table">Weather_Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/averages">Line_Chart</a>
            </li>          
          </ul>
        </div>
      </div>
    </nav>

  <div class="container">
      <div class="row">
          <div class="col-md-12 jumbotron text-center">
              <h1>Average Weather Visualization</h1>
              <p>Use the interactive charts below to explore the dataset</p>
           </div>
      </div>

      <div id="map"></div>

    <!-- Below Added by Prina -->
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>State One</h5>
          <select id="selDataset0" onchange="optionChanged(this.value)"></select>
        </div>        
        <div class="well">
          <h5>State Two</h5>
          <select id="selDataset1" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="well">
          <h5>Year</h5>
          <select id="selDataset2" onchange="optionChanged(this.value)"></select>
        </div>
      </div>
      <div class="col-md-10">
          <div id="bar"></div>
      </div>    
    </div>
  </div>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/bar_graph.js"></script>

  </body>

</html>