<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>

  <hr>

    <div class="container" id="news">
      <div class = "row">
        <div class = "col-12">
          <h2>Latest Mars News</h2>
          <h6>{{ mars8.Title }}</h6>
          <p>{{ mars8.Summary }}</p>
        </div>
      </div>
    </div>
  
  <hr>

    <div class="container" id="info">
      <div class = "row">
        <div class = "col-8">
          <h3>Featured Mars Image</h3>
          <img src="{{ mars8.ImageURL }}" alt="Featured Mars Image">
        </div>

        <div class = "col" id="table">
          <h4>Mars Facts</h4>
          {{ mars8.MarsStats |safe}}
        </div>
      </div>
    </div>

  <hr>

    <div class="container" id="hemisphere">
      <h3 style="text-align: center;">Mars Hemispheres</h3>
      <div class="row">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="{{ mars8.MarsHemi[0]['img_url'] }}" alt="{{ mars8.MarsHemi[0]['title'] }}">
          <div class="card-body">
            <h5 class="card-text">{{ mars8.MarsHemi[0]['title'] }}</h5>
          </div>
        </div>

        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="{{ mars8.MarsHemi[1]['img_url'] }}" alt="{{ mars8.MarsHemi[1]['title'] }}">
          <div class="card-body">
            <h5 class="card-text">{{ mars8.MarsHemi[1]['title'] }}</h5>
          </div>
        </div>

        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="{{ mars8.MarsHemi[2]['img_url'] }}" alt="{{ mars8.MarsHemi[2]['title'] }}">
          <div class="card-body">
            <h5 class="card-text">{{ mars8.MarsHemi[2]['title'] }}</h5>
          </div>
        </div> 

        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="{{ mars8.MarsHemi[3]['img_url'] }}" alt="{{ mars8.MarsHemi[3]['title'] }}">
          <div class="card-body">
            <h5 class="card-text">{{ mars8.MarsHemi[3]['title'] }}</h5>
          </div>
        </div>
      </div>
    </div>  
  </div>  
</body>

</html>
